.cnt {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
  width: 100%;
}

.listCnt {
  display: flex;
}

.produtsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media(max-width: 469px) {
  .produtsList {
    gap: 8px;
  }
}