.header {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  display: none;
}

.headerCnt {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 8px 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logoCnt {
  display: flex;
  align-items: center;
}

.logo {

}

.optionLeft {
  display: flex;
}

.optionRight {
  display: flex;
}

.menuIcon, .phoneIcon, .searchIcon, .cartIcon {
  display: flex;
  align-items: center;
  padding: 8px;
}

.menuIcon {
  position: relative;
  z-index: 100;
}

.menu {
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background-color: #5A5A5A;
  width: 80%;
  height: calc(100vh - 56px);

  &.openMenu {
    transform: translateX(0);
    z-index: 20;
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 20px;
}

.listName {
  color: var(--white);
}

@media(max-width: 899px) {
  .header {
    display: block;
  }
}